<div class="page-header">
  <h1>New User</h1>
</div>
<div class="jumbotron">
  <div class="row">
    <% unless @user.omniauth? %>
      <div class="col-xs-3 center-block">
        <% @providers.each do |provider, string| %>
          <a id="signup-<%= provider %>" class="btn btn-block btn-social btn-<%= provider == :google_oauth2 ? 'google-plus' : provider %>" href="/auth/<%= provider %>">
            <i class="fa fa-<%= provider == :google_oauth2 ? 'google-plus' : provider %>"></i> Sign up via <%= string %>
          </a>
        <% end %>
      </div>
      <div class="col-xs-8 col-xs-offset-1">
    <% else %>
      <div class="col-xs-10 co-xs-offset-2 center-block">
        <h1>Verify Details</h1>
    <% end %>
        <%= render 'users/form' %>
      </div>
  </div>
</div>
