<div class="page-header">
  <h1>About This Project</h1>
</div>
<p>This Ruby on Rails application was developed as a practice project. Much of
  the features were inspired by skills developed from the Spring 2015 session of
  <%= link_to 'Building the Toolbelt of a Junior Ruby on Rails Developer', 'http://www.davincicoders.com/rubyonrailscourse/' %>
  web development course offered by the <%= link_to 'DaVinci Institute', 'http://www.davinciinstitute.com' %>
  in Louisville, Colorado. The course was instructed by <%= link_to 'Jason Noble', 'http://www.jasonnoble.org' %>
  with teaching assistant <%= link_to 'Wendy Brannon', 'https://wendymbrannon.wordpress.com/' %>.</p>
<p>While this project is not in commercial use, it is an example site for Ruby on Rails.
  Users can sign in and return to the site. Users can create, update, and delete cars.
  Users can claim cars from the list of cars that have not been claimed. The actions
  of claiming, updating, and deleting cars can only be accomplished when signed in.</p>
<p>The look of the site is improved using Bootstrap and Will_Paginate. The navigation
  bar helps the user get to the right page. Glyphicons add a touch of design to the buttons.</p>
<p>The entire project is using TDD to be developed. You can view the code by visiting
  <%= link_to "the project on GitHub", "https://github.com/RyanSpittler/davinci_motors_bootstrap" %>.</p>
