<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <p class="navbar-text">Signed in as <%= current_user.email %></p>
    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    <li><%= link_to 'My Cars', my_cars_path %></li>
  <% else %>
    <li><%= link_to 'Signup', new_user_path %></li>
    <li><%= link_to 'Login', login_path %></li>
  <% end %>
</ul>
